*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# intellij
.DS_Store
.idea

# maven
target
overlays

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
node_modules/

# these are generated
container-definitions_prod.json
container-definitions_test.json
src/index.html-e
src/static/js/services.js-e
