<div class="row">
    <div id="sandboxAppsViewContainer" class="col-md-12 content-column">
        <div  class="row-fluid">
            <ul class="list-unstyled">
                <li class="col-md-3" ng-repeat="app in all_user_apps|filter:{launchUri:'!!'}">
                    <div ng-class="{selected: selected.selectedApp === app}"  class="thumb-holder" ng-click="select(app)" >
                        <div class="thumbnail">
                            <img ng-show="app.logoUri" ng-src="{{app.logoUri}}">
                            <img ng-show="!app.logoUri" src="static/images/HSPCSandboxNoIconApp-512.png">
                            <div ng-click="appDetail(app)" class="fa fa-cog appDetailIcon" ></div>
                            <div ng-click="quickLaunch(app)" class="fa fa-play appLaunchIcon"></div>
                        </div>
                        <div class="caption">
                            <div class="appTitle">{{app.authClient.clientName}}</div>
                            <div class="appDescription">{{app.authClient.description}}</div>
                        </div>
                    </div>
                </li>
                <li ng-show="isAppsPicker" class="col-md-3">
                    <div class="thumb-holder custom-app">
                        <div class="thumbnail">
                            <label>Custom Values</label><br/>
                            <input type="text" ng-model="customapp.id" placeholder="Client ID" required /><br/>
                            <input type="text" ng-model="customapp.url" placeholder="Launch URL" required />
                            <div ng-click="appDetail(app)" class="fa fa-cog appDetailIcon" ></div>
                            <div ng-click="launchCustom()" class="fa fa-play appLaunchIcon"></div>
                        </div>
                        <div class="caption">
                                <div class="appTitle">Custom App</div>
                                <div class="appDescription">
                                    This is a custom app configuration.
                                </div>
                            </div>
                    </div>
                </li>
             </ul>
        </div>
    </div>
</div>
