<div class="container-fluid" ng-controller="DashboardViewController">
    <div ng-show="!showing.start">
        <!--<div class="slim-page-header">Dashboard</div>-->
        <div class="col-md-6" style="padding-top: 20px; height: 100%">
            <div ng-include="'static/js/templates/sandboxesView.html'"></div>
        </div>
        <div class="col-md-6">
            <div ng-show="showNews()">
                <div ng-include="'static/js/templates/newsAndTipsView.html'"></div>
            </div>
        </div>
    </div>
</div>
