<div class="container-fluid" ng-controller="AppPickerController">
    <!--<div class="text-center">-->
        <div class="slim-page-header">{{title}}</div>
    <!--</div>-->

    <div class="row">
        <div class="col-md-12 content-column">
            <!--<div class="box">-->
            <!--<div class="sub-header">Choose an App for {{name}}</div>-->
            <div class="app-gallery-container" resize ng-style="resizeWithOffset(250)">
                <br style="clear: both;" />
                <div  class="row-fluid">
                    <div ng-include="'static/js/templates/appsView.html'"></div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>