<div class="row">
    <div class="col-md-12 content-column">
        <div  class="row-fluid">
            <ul class="list-unstyled">
                <li ng-class="showing.appDetail ? 'col-md-4' : 'col-md-3'" ng-repeat="app in all_user_apps|filter:{launchUri:'!!'}">
                    <div ng-class="{selected: selected.selectedApp === app}"  class="thumb-holder" ng-click="select(app)" >
                        <div class="thumbnail">
                            <img ng-src="{{app.logoUri}}">
                        </div>
                        <a>{{app.authClient.clientName}}</a>
                    </div>
                </li>
                <li ng-show="showCustomApp" ng-class="showing.appDetail ? 'col-md-4' : 'col-md-3'">
                    <div class="thumb-holder" ng-disabled="!customapp.id || !customapp.url" ng-click="launchCustom()">
                    <div class="thumbnail">
                            <input type="text" ng-model="customapp.id" placeholder="App ID" required /><br/>
                            <input type="text" ng-model="customapp.url" placeholder="Launch URL" required />
                    </div>
                        <a ng-disabled="!customapp.id || !customapp.url">Custom App</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
