<div class="container-fluid" ng-controller="AppsViewController">
    <div class="text-center">
        <h1>{{title}}</h1>
    </div>

    <div class="row">
        <div class="col-md-12 content-column">
            <div class="box">
            <h3>Choose an App for {{name}}</h3>
            <div class="app-gallery-container" resize ng-style="resizeWithOffset(240)">
                <br style="clear: both;" />
                <div  class="row-fluid">
                    <ul class="list-unstyled thumbnails">
                        <li class="col-md-3" ng-repeat="app in all_user_apps|filter:{launch_uri:'!!'}">
                            <div class="thumbnail">
                                <div class="thumb-holder">
                                    <img ng-src="{{app.logo_uri}}" width="100%">
                                </div>
                                <div class="caption">
                                    <button ng-click="launch(app)" class="btn btn-basic btn-block">{{app.client_name}}</button>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="thumbnail">
                                <div class="thumb-holder">
                                    <input type="text" ng-model="customapp.id" placeholder="App ID" required /><br/>
                                    <input type="text" ng-model="customapp.url" placeholder="Launch URL" required />
                                </div>
                                <div class="caption">
                                    <button ng-click="launchCustom()" ng-disabled="!customapp.id || !customapp.url" class="btn btn-basic btn-block">Custom App</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>