<div class="bars-content" >
    <div class="bar-title">More Resources</div>
    <div class="bar-item"><a href='http://hspconsortium.org' target="_blank"><img src="static/images/hspc-logo-main-web-top.png" srcset="static/images/hspc-logo-main-web-top@2x.png 2x" style="cursor: pointer" />
        <div class="bar-item-text">Healthcare Services Platform Consortium</div>
    </a>
    </div>
    <div class="bar-item"><a href='http://developers.hspconsortium.org' target="_blank"><img src="static/images/hspc-developers-logo.png" srcset="static/images/hspc-developers-logo@2x.png 2x" style="cursor: pointer" />
        <div class="bar-item-text">Information to help Developers</div>
    </a>
    </div>
    <div class="bar-item"><a href='https://gallery.hspconsortium.org' target="_blank"><img src="static/images/hspc-gallery-logo.png" srcset="static/images/hspc-gallery-logo@2x.png 2x" style="cursor: pointer" />
        <div class="bar-item-text">A Gallery of apps running against the Sandbox</div>
    </a>
    </div>
</div>