<div class="container-fluid" ng-controller="DashboardViewController">
    <div class="row" ng-show="!showing.start">
        <div class="content-column">
            <!--<div class="slim-page-header">Dashboard</div>-->
            <div class="dashboard-container" ng-style="{width: scrollWidth(1200) || !isSystemAdmin() ? '600px' : '1200px'}">
            <div class="horizontal-scroll" resize ng-style="scrollHeight(size.screenH) ? '' : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+10)">
                    <div ng-class="isSystemAdmin() ? 'col-md-12 col-lg-6' : 'col-md-12'">
                    <div class="sub-header">My Sandboxes</div>
                    <div class="box">
                        <div class="scrollableContainer" resize ng-style="showInvitations() ? redrawTable(200, 560) : redrawTable(500, 560)">
                            <div class="headerSpacer"></div>
                            <div class="scrollArea">
                                <table class="dashboard-table table table-striped">
                                    <thead class="fixedHeader">
                                    <tr>
                                        <th><div class="th-inner" tabl-header-inner>Sandbox Name</div></th>
                                        <th><div class="th-inner" table-header-inner>Description</div></th>
                                    </tr>
                                    </thead>
                                    <tbody class="scrollContent">
                                    <tr ng-click="selectSandbox(sandbox)" ng-repeat="sandbox in dashboard.sandboxes" style="cursor: pointer;">
                                        <td>{{sandbox.name}}</td>
                                        <td>{{sandbox.description}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div ng-show="canCreateSandbox()" style="float: right"><button ng-click="createSandbox()" class="btn btn-basic">Create Sandbox</button></div>
                    <div ng-show="showInvitations()">
                        <div class="sub-header" style="margin-top: 30px">Sandbox Invitations</div>
                        <div class="box">
                            <div class="scrollableContainer" resize ng-style="redrawTable(200, 560)">
                                <div class="headerSpacer"></div>
                                <div class="scrollArea">
                                    <table class="invite-table table table-striped">
                                        <thead class="fixedHeader">
                                        <tr>
                                            <th><div class="th-inner" table-header-inner>Invited By</div></th>
                                            <th><div class="th-inner" table-header-inner>Sandbox Name</div></th>
                                            <th><div class="th-inner" style="width: 150px" resize table-fixed-width-column></div></th>
                                        </tr>
                                        </thead>
                                        <tbody class="scrollContent">
                                        <tr ng-repeat="sandboxInvite in sandboxInvites">
                                            <td style="width:33.33%">{{sandboxInvite.invitedBy.name}}</td>
                                            <td style="width:33.33%">{{sandboxInvite.sandbox.name}}</td>
                                            <td style="width:33.33%">
                                                <button ng-click="updateSandboxInvite(sandboxInvite, 'REJECTED')" class="btn btn-cancel" style="float: right"><i class="fa fa-remove"></i> Reject</button>
                                                <button ng-click="updateSandboxInvite(sandboxInvite, 'ACCEPTED')" class="btn btn-accept" style="float: right"><i class="fa fa-check"></i> Accept</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="isSystemAdmin()" class="col-md-12 col-lg-6">
                    <div class="sub-header">Sandbox Manager Statistics</div>
                    <div class="box">
                        <div class="right-form-group">
                            <label class="right-form-label">Total Sandboxes </label>
                            <label class="right-form-value-label">{{statistics.fullSandboxCount}}</label>
                        </div>
                        <div class="right-form-group">
                            <label class="right-form-label">FHIR v1.0.2 Sandboxes </label>
                            <label class="right-form-value-label">{{statistics.schema1Sandboxes}}</label>
                        </div>
                        <div class="right-form-group">
                            <label class="right-form-label">FHIR v1.6 Sandboxes </label>
                            <label class="right-form-value-label">{{statistics.schema2Sandboxes}}</label>
                        </div>
                        <div class="right-form-group">
                            <label class="right-form-label">FHIR v1.8 Sandboxes </label>
                            <label class="right-form-value-label">{{statistics.schema3Sandboxes}}</label>
                        </div>
                        <div class="right-form-group">
                            <label class="right-form-label">New Sandboxes in 30 Days </label>
                            <label class="right-form-value-label">{{statistics.sandboxesInInterval}}</label>
                        </div>
                        <div class="right-form-group">
                            <label class="right-form-label">Total Users </label>
                            <label class="right-form-value-label">{{statistics.fullUserCount}}</label>
                        </div>
                        <div class="right-form-group">
                            <label class="right-form-label">New Users in 30 Days </label>
                            <label class="right-form-value-label">{{statistics.newUsersInInterval}}</label>
                        </div>
                        <div class="right-form-group">
                            <label class="right-form-label">Users Active in 30 Days </label>
                            <label class="right-form-value-label">{{statistics.activeUserInInterval}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
