<div class="col-md-12">
    <div class="row">
        <div class="search-bar">
            <div class="search-label"><label>FHIR Query</label></div>
            <div class="search-field typeahead">
                <input enter-key="querySynthea(settings.syntheaFhirQuery)" type="text" class="input-box form-control" ng-model="settings.syntheaFhirQuery"
                       uib-typeahead="item for item in filterQuery($viewValue)"
                       typeahead-on-select="settings.syntheaFhirQuery = $item; querySynthea(settings.syntheaFhirQuery)" typeahead-min-length="0">

                <a href='#' class='undo-icon' ng-show="settings.syntheaFhirQuery != ''" ng-click="settings.syntheaFhirQuery = ''; querySynthea('clear')"><i class='fa fa-remove fa-lg'></i></a>
                <a href='#' class='search-icon' ng-click="querySynthea(settings.syntheaFhirQuery)"><i class='fa fa-search fa-lg'></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" style="margin-left: -15px;">
            <div class="slim-page-header" style="padding:5px 0 5px 0" >Result JSON Bundle</div>
            <textarea resize ng-style="scrollScreen(size.screenH, size.screenW) ? {'min-height': '380px', 'margin-bottom': '10px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+170)" style="resize: none; background-color: #fff; cursor: text;" class="form-control" readonly>{{settings.syntheaResults}}</textarea>
            <div class="col-md-12 content-column">
                <div class="btn btn-basic btn-md" ng-disabled="!settings.showing.synthea" ng-click="acquireData(settings.syntheaFhirQuery)"><i class="fa fa-save fa-lg"></i> Import Synthetic Patients</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="sub-header">Previous Imports</div>
            <div class="box" resize ng-style="scrollScreen(size.screenH, size.screenW) ? {'min-height': '380px', 'margin-bottom': '10px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+170)">
                <div class="scrollableContainer" ng-style="scrollScreen(size.screenH, size.screenW) ? {'min-height': '370px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+180)">
                    <div class="headerSpacer"></div>
                    <div class="scrollArea">
                        <table class="user-management-table table table-striped">
                            <thead class="fixedHeader">
                            <tr>
                                <th><div class="th-inner" table-header-inner>Date</div></th>
                                <th><div class="th-inner" table-header-inner>Success</div></th>
                                <th><div class="th-inner" table-header-inner>FHIR Source</div></th>
                            </tr>
                            </thead>
                            <tbody class="scrollContent">
                            <tr ng-repeat="import in sandboxImports">
                                <td>{{import.timestamp}}</td>
                                <td>{{import.successCount}}</td>
                                <td>{{import.importFhirUrl}}</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
