<div class="container-fluid" ng-controller="DataManagerController">
    <div class="row">
        <div class="content-column" resize ng-style="resizeWithOffset(120)" ng-class="'col-lg-12'">
            <div class="slim-page-header">{{title}}</div>

            <div ng-show="uploadScreen" class="pull-left basic-text">Paste JSON FHIR Bundle in the Text Area</div>

            <textarea ng-show="uploadScreen" resize ng-style="resizeWithOffset(200)" ng-model="bundle" style="resize: none; background-color: #fff; cursor: text; height:400px; margin-top: 30px" class="form-control"></textarea>
            <textarea ng-show="!uploadScreen" resize ng-style="resizeWithOffset(190)" style="resize: none; background-color: #fff; cursor: text; height:400px" class="form-control"  readonly>{{bundleResults | json}}</textarea>
        </div>
    </div>
    <div class="row" ng-show="uploadScreen">
        <div class="col-md-12 content-column">
            <div ng-disabled="!bundle" class="btn btn-basic btn-md" ng-click="upload(bundle)"><i class="fa fa-upload fa-lg"></i> Import</div>
        </div>
    </div>
</div>
