<div class="container-fluid login-form" ng-controller="LoginController">
    <div class="row">
        <div class="col-lg-12">
            <img src="static/images/HSPC-logo.png"/>
            <i class='login-form-input-icon fa fa-user fa-lg'></i>
            <input ng-model="username" class="login-form-input" placeholder="username" required/>
            <i class='login-form-input-icon fa fa-lock fa-lg'></i>
            <input ng-model="password" class="login-form-input" placeholder="password" required/>
            <div class="login-form-btn" ng-click="login()">Sign in</div>
            <a href='#' class='login-form-text' ng-click="forgotPassword()">forgot password?</a>
        </div>
    </div>
</div>
