<div class="container-fluid" ng-controller="PatientSearchController">
    <div class="row">
        <div class="content-column" resize ng-style="resizeWithOffset(81)" ng-class="showing.patientDetail ? 'col-lg-8 right-border' : 'col-lg-12'">
            <h3>{{title}}</h3>
            <div ng-include="'static/js/templates/patientSearch.html'"></div>
        </div>
        <div class="col-lg-4 content-column" ng-show="showing.patientDetail">
            <h3>Details</h3>
            <div ng-include="'static/js/templates/patientDetail.html'"></div>
        </div>
    </div>
</div>
