<div id="patient-details" class="col-md-12">
    <div class="row">
        <div class="col-md-12 content-column">
            <div class="row">
                <ul>
                    <li>Name: {{patientHelper.name(selectedPatient)}}</li>
                </ul>
            </div>
            <div class="row">
                <div class="btn btn-basic btn-sm" ng-click="setPatient(selectedPatient)" ng-disabled="!patientSelected">Next</div>
                <div class="btn btn-basic btn-sm" ng-click="launchPatientDataManager(selectedPatient)" ng-disabled="!patientSelected">Open Patient Data Manager</div>
            </div>
        </div>
    </div>
</div>
