<div class="container-fluid" ng-controller="PersonaSearchController">
    <div class="row">
        <div class="box">
            <div class="scrollableContainer" resize ng-style="scrollScreen(size.screenH, size.screenW) ? {'min-height': '380px'} : resizeWithOffset(size.navBarHeight+size.footerHeight+size.sandboxBarHeight+120)">
                <div class="headerSpacer"></div>
                <div class="scrollArea">
                    <table class="user-management-table table table-striped">
                        <thead class="fixedHeader">
                        <tr>
                            <th><div class="th-inner" table-header-inner>Display Name</div></th>
                            <th><div class="th-inner" table-header-inner>User Id</div></th>
                            <th><div class="th-inner" table-header-inner>FHIR Resource</div></th>
                            <th><div class="th-inner" table-header-inner></div></th>
                        </tr>
                        </thead>
                        <tbody class="scrollContent">
                        <tr ng-click="personaSelected(persona)"
                            ng-repeat="persona in personaList"
                            ng-class="{selected: selectedPersona === persona}" style="cursor: pointer;">
                            <td><i class='fa' ng-class="persona.resource == 'Patient' ? 'fa-bed' : 'fa-user-md'"></i> {{persona.ldapName}}</td>
                            <td>{{persona.ldapId}}</td>
                            <td>{{persona.resourceUrl}}</td>
                            <td></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
