<div id="practitioner-results" ng-controller="PractitionerSearchController">
    <div class="box">
    <div class="row">
        <div class="col-md-12">Search for practitioners by name</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input
                    id="practitioner-search"
                    class="col-md-12 pull-left input-long "
                    type="text"
                    autofocus
                    contenteditable
                    focus-on-key="191"
                    ng-model="searchterm"
                    placeholder="john smith ..."/>
        </div>
    </div>
        <div class="row" ng-show="showing.createPractitioner">
            <div class="col-md-12 content-column-vertical" ng-controller="CreateNewPractitionerCtrl">
                <a class="pull-left" ng-click="open()">Create new practitioner</a>
            </div>
        </div>
        <div class="row table-container" resize ng-style="resizeWithOffset(275)">
        <div class="col-md-12 result">
            <div id="practitioner-results-list" ng-cloak when-scrolling="loadMoreIfNeeded()">
                <table class="table table-striped table-hover">
                    <tr class="practitioner-row" ng-click="select($index)" ng-repeat="practitioner in practitioners" ng-class="{selected : practitioner === selected.selectedPractitioner}">
                        <td class="name">
                            <span ng-bind="practitioner | nameGivenFamily"></span>
                        </td>
                    </tr>
                </table>

                <div ng-show="!showing.searchloading && (practitioners.length==0)">
                    <p>No matches, try broadening your search.</p>
                </div>

                <div id="loading-practitioner-results" ng-show="showing.searchloading" class="ng-hide">
                    <p>Loading...</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
