<div class="scrollableContainer referenceTable">
    <div class="headerSpacer"></div>
    <div class="scrollArea">
        <table st-table="launchScenarioList" class="table table-striped">
            <thead class="fixedHeader">
            <tr>
                <th><div class="th-inner" table-header-inner>Description</div></th>
                <th><div class="th-inner" table-header-inner>Persona</div></th>
                <th><div class="th-inner" table-header-inner>Patient Context</div></th>
                <th><div class="th-inner" table-header-inner>App</div></th>
            </tr>
            </thead>
            <tbody class="scrollContent">
            <tr st-select-row="scenario" ng-click="scenarioSelected(scenario)" ng-repeat="scenario in launchScenarioList"
                ng-class="{selected: selectedScenario === scenario}">
                <td>{{scenario.desc}}</td>
                <td>{{scenario.persona.resource}}: {{scenario.persona.name}}</td>
                <td>{{scenario.patient.name}}</td>
                <td>{{scenario.app.client_name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

