<ul class="nav nav-sidebar" ng-controller="SideBarController">
    <li><a ng-class="{selected: selected === 'launch-scenarios'}" ng-click="select('launch-scenarios')" ui-sref="launch-scenarios">Launch Scenarios</a></li>
    <li><a ng-class="{selected: selected === 'users'}" ng-click="select('users')" ui-sref="users">Users</a></li>
    <li><a ng-class="{selected: selected === 'patients'}" ng-click="select('patients')" ui-sref="patients">Patients</a></li>
    <li><a ng-class="{selected: selected === 'practitioners'}" ng-click="select('practitioners')" ui-sref="practitioners">Practitioners</a></li>
</ul>
