<!DOCTYPE html>
<html lang="en" ng-app="sandManApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sandbox Manager Manager</title>
    <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- CSS (load bootstrap) -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/app.css">
    <style>
    </style>

    <!-- refresh after sign in -->
    <script>
        if (window.location.search.match("code=")){
            var newHash = "/after-auth" + window.location.search;
            if (window.history.replaceState){
                window.history.replaceState(
                        {},
                        "",
                        window.location.toString().replace(window.location.search, ""));
            }
            window.location.hash = newHash;
        }
    </script>

    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

    <script src="static/fhir-client/underscore-min.js"></script>
    <script src="static/fhir-client/fhir-client.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/services.js"></script>
    <script src="static/js/filters.js"></script>
    <script src="static/js/directives.js"></script>
</head>

<!-- apply our angular app to our site -->
<body ng-app="sandManApp" ng-class="scrollScreen(400, 1200) ? 'full-screen-scroll' : 'full-screen'" screen-size ng-controller="navController">

<!-- NAVIGATION -->
<nav class="navbar" role="navigation" ng-show="showing.navBar">
    <div><img src="static/images/hspc-logo-main-web-top.png"/></div>
    <div class="navbar-brand center-title" center ng-style="centerWithOffset(160)">Sandbox Manager</div>
    <div class="pull-right">
        <div class="navbar-stack-name ng-hide" ng-show="showing.signout">
            Welcome <a id="welcome" ng-click="manageUserAccount()"><span style="font-weight: bold">{{oauthUser.name}}</span></a></div>
        <div  class="navbar-stack-sign-in ng-hide" ng-show="showing.signin" >
            <a id="signin" ng-click="signin()"><i class="fa fa-sign-in"></i> Sign In</a>
        </div>
        <div class="navbar-stack-sign-in ng-hide" ng-show="showing.signout" >
            <a id="signout" ng-click="signout()"><i class="fa fa-sign-out"></i> Sign Out</a>
        </div>
    </div>
</nav>


<div>
    <div class="row container-fluid">
        <div ng-class="showing.largeSidebar ? 'col-xs-2' : 'col-xs-1'" class="col-xs-2 sidebar" ng-show="showing.navBar" resize ng-style="resizeWithOffset(80)">
            <div ng-include src="'static/js/templates/sideNav.html'"></div>
        </div>
        <div ng-class="showing.navBar ? showing.largeSidebar ? 'col-xs-10' : 'col-xs-11' : 'col-xs-12'">
            <div ui-view></div>
        </div>
    </div>
</div>

<div class="message_area" style="top: 5px;">
    <div notification ng-repeat="message in messages"></div>
</div>

</body>
</html>