<div ng-controller="PatientSearchController">
    <div class="text-center">
        <h1>Patient View</h1>
    </div>

    <div class="row">
        <div class="col-md-6 content-column">
            <h1>Choose a patient</h1>

            <div ng-include="'static/sandbox-manager/js/templates/patient-search.html'"></div>
        </div>
        <div class="col-md-6 content-column">
            <h1>Patient Details</h1>

            <div ng-include="'static/sandbox-manager/js/templates/patient-detail.html'"></div>
        </div>
    </div>
</div>