<div ng-controller="PractitionerSearchController">
    <div class="text-center">
        <h1>Practitioner View</h1>
    </div>

    <div class="row">
        <div class="col-md-6 content-column">
            <h1>Choose a practitioner</h1>

            <div ng-include="'static/sandbox-manager/js/templates/practitioner-search.html'"></div>
        </div>
        <div class="col-md-6 content-column">
            <h1>Practitioner Details</h1>

            <div ng-include="'static/sandbox-manager/js/templates/practitioner-detail.html'"></div>
        </div>
    </div>
</div>