RewriteCond %{REQUEST_URI} ^/[^/\.]+/[^/\.]+/static/.*$
RewriteRule ^(.*)/.*/static/(.*)$ $1/static/$2 [L]

RewriteCond %{REQUEST_URI} ^/[^/\.]+/static/.*$
RewriteRule ^.*$ - [L]

RewriteCond %{REQUEST_URI} ^/[^/\.]+/[^/\.]+/REST/.*$
RewriteRule ^(.*)/.*/REST/(.*)$ $1/REST/$2 [L,QSA]

RewriteCond %{REQUEST_URI} ^.*/REST/.*$
RewriteRule ^.*$ - [L,QSA]

RewriteCond %{REQUEST_URI} ^/[^/\.]+/[^/\.]+/launch.html/.*$
RewriteRule ^(.*)/.*/launch.html/(.*)$ $1/launch.html/$2 [L,QSA]

RewriteCond %{REQUEST_URI} ^.*/launch.html/.*$
RewriteRule ^.*$ - [L,QSA]

RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ $1/ [L,R=301]

RewriteCond %{REQUEST_URI} ^/[^/\.]+/([^/\.]+/)?$
RewriteRule ^.*$ /index.html [L,QSA]